@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* NAVBAR / COLOR */

    --navbar-background: rgba(49, 2, 2, 0.082);

    /* COLOR / ICONS */

    --menu: #FAA630;
    --icon-whatsapp: #1CF941;
    --icon-instagram: #FA2800;

    /* NOME-CANTOR / GRADIENTE */

    --gradient-text: linear-gradient(
        to right,
        #ddd235,
        #eef85e,
        #999b0c,
        #353203
        );

    /* BUTTON / GRADIENTE */

    --button-gradiente: linear-gradient(
        to right,
        #08b308,
        #32fa00
    );

    /* FONTS */

    --font-biografia: "Charm", cursive;
    --font-nome: "Rubik", sans-serif;
    --font-subtitulo: "Simonetta", serif;
}

body {
    font-family: var(--font-subtitulo);
    
}

/* == GRUPO-NAVBAR (BARRA DE NAVEGAÇÃO) == */

.grupo-navbar {
    background-color: var(--navbar-background);
    padding: 1.8rem;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* == COLORS / ICONS == */

#menu-hamburguer {
    color: var(--menu);
}
#whatsapp {
    color: var(--icon-whatsapp);
}
#instagram {
    color: var(--icon-instagram);
}

/* == HEADER / CABEÇALHO == */
header.cabecalho {
    background: url(imagens/fundo-header.png) no-repeat center/cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* == SECTION / HERO == */

.hero {
    width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* == DIV / NOME-CANTOR == */

.grupo-titulo-subtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* == NOME / CANTOR */

.h1-gradiente {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-family: var(--font-nome);
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 16px;
}

/* == PARAGRAFO / SUBTITULO == */

.subtitulo {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: var(--font-subtitulo);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 4px;
}

/* == BUTTON / HERO == */ 

.btn-hero {
    background: var(--button-gradiente);
    width: 250px;
    height: 50px;

    border-radius: 25px;
    border: none;

    font-family: var(--font-subtitulo);
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 3px;

    cursor: pointer;
}

/* == SECTION / SOBRE-CANTOR == */

section.sobre-cantor {
    background: url(imagens/fundo-cantor.png) no-repeat left/cover;
    height: 100vh;

    display: flex;
    justify-content: space-between;
    padding: 2rem;

    position: relative;
}

/* == PARAGRAFO / BIOGRAFIA == */

.biografia {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    

    font-family: var(--font-biografia);
    font-size: 1.3rem;
    font-weight: 400;

    color: white;
    width: 50%;
    text-align: left;
    line-height: 1.5rem;
}

/* == IMAGEM / CANTOR == */

.cantor-jampier {
    width: 50%;
    object-fit: cover;

    position: absolute;
    right: 0;
    bottom: 0;
}

/* == SECTION / VALORES == */

.valores {
    background: url(imagens/fundo-valores.png) no-repeat center/cover;

    height: 100vh;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* == H2 / VALORES & PACOTES == */

.valores h2 {
    color: white;

    font-size: 2rem;
    font-weight: 700;
}

/* == SPAN / COLOR TEXTO H2 (GRADIENTE) */

.color-texto-h2 {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* == SUBTITULO-VALORES == */

.subtitulo-valores {
    color: white;
    margin-bottom: 1.5rem;
    
    font-size: 1.3rem;
}

/* == DIV / PACOTES (COMPLETO, STANDARD, SIMPLES) == */

.pacotes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.pacotes h3 {
    font-size: 1.2rem;
    font-weight: 600;

    text-align: center;
    margin-bottom: 1.3rem;
}

/* == PACOTES (COMPLETO, STANDARD, SIMPLES) == */

.completo, 
.standard,
.simples {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    background: rgba(34, 34, 34, 0.192);
    color: white;

    width: 300px;
    height: 350px;
    padding: 2rem;

    border-radius: 10px;
    box-shadow: 0px 0px 1px 2px rgba(243, 242, 242, 0.096);
}

/* == DESCRIÇÃO DOS PACOTES == */

.descricao-pacotes {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 1rem;
    font-weight: 500;
}

/* == VALOR DO PACOTE == */

.valor-pacote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.valor {
    color: rgb(228, 195, 8);

    font-size: 1.8rem;
    font-weight: 600;
}

.btn-contratar {
    background: var(--button-gradiente);
    width: 90%;

    font-family: var(--font-subtitulo);
    font-size: 1.5rem;
    font-weight: 600;
    
    padding: 0.3rem;
    border: none;
    border-radius: 25px;
}

section.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    background: url(imagens/fundo-formulario.jpeg) no-repeat bottom/cover;
    height: 100vh;

    padding: 1.5rem;
}



